body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.login-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.login-page h1 {
  font-weight: 700;
  font-style: normal;
  color: blueviolet;
  margin-bottom: 30px;
}

.input-field {
  margin-bottom: 50px;
}
.input-field input {
  height: 60px;
  width: 420px;
  max-width: 530px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px 5px 5px rgb(217, 187, 246);
  outline: none;
}
.input-field button {
  height: 60px;
  width: 420px;
  border: 3px solid blueviolet;
  border-radius: 16px;
  padding: 10px;
  background: transparent;
  color: blueviolet;
  font-size: 24px;
  font-weight: 500;
}
.input-field button:hover {
  background-color: blueviolet;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .login-page {
    margin-top: 80px;
  }

  .login-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .input-field {
    margin-bottom: 30px;
  }

  .input-field input,
  .input-field button {
    width: 100%;
    max-width: 350px;
  }

  .input-field input {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
  }

  .input-field button {
    height: 50px;
    padding: 8px;
    border-radius: 12px;
    font-size: 20px;
  }
}
